---
import { Application, Job } from '@/utils/types/Company';

export interface Props {
  data: Application[];
  jobs: Job[],
}
const {data, jobs} = Astro.props;
---
<div class="mt-2">
  <div class="flex justify-between items-center my-2">
    <h2 class="text-lg font-semibold text-gray-800 mb-4">All Applicants</h2>
    <a href="/admin/applications/create" class="bg-violet-600 hover:bg-violet-700 text-white py-2 px-6 rounded">
      Create Application
    </a>
  </div>
  <div class="bg-white rounded-xl shadow overflow-hidden">
    <table class="min-w-full text-left">
      <thead class="bg-purple-100 text-gray-700">
        <tr>
          <th class="px-6 py-3 text-sm font-semibold">Title</th>
          <th class="px-6 py-3 text-sm font-semibold">Job Title</th>
          <th class="px-6 py-3 text-sm font-semibold">Status</th>
          <th class="px-6 py-3 text-sm font-semibold">Action</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100">
        {
          data && data.map((applicant: Application)=> (
            <tr>
              <td class="px-6 py-4">{applicant.coverLetter}</td>
              <td class="px-6 py-4">{jobs.find((job: Job) => job.id === applicant.jobId)?.title}</td>
              <td class="px-6 py-4 text-green-600 font-medium">{applicant.status}</td>
              <td class="px-6 py-4">  
                <a href={`/admin/applications/${applicant.id}`} class="text-violet-600 hover:underline">View</a>
                <a href={`/admin/applications/${applicant.id}/edit`} class="text-blue-600 hover:underline ml-2">Edit</a>
                <a href={`/admin/applications/${applicant.id}/delete`} class="text-red-600 hover:underline ml-2">Delete</a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</div>
