---
import AdminLayout from "@/layouts/AdminLayout.astro";
// import ApplicantProfile from "./_parts/Profile.astro";
import ApplicantSkills from "./_parts/ApplicantSkills";
import ApplicantExperiences from "./_parts/ApplicantExperiences";
import ApplicantEducations from "./_parts/ApplicantEducations";
import { useHttpClient } from "@/utils/useHttpClient";
import { APP_URL } from "astro:env/server";
import { Applicant } from "@/utils/types/Applicant";
import ProfileForm from "./_parts/ProfileForm";
import ApplicantPortfolios from "./_parts/ApplicantPortfolios";

const { id } = Astro.params;
const token = Astro.cookies.get('token')?.value as string;
const applicant = await useHttpClient(token).get(APP_URL + '/applicants/'+id).then(res => res.json()) as Applicant;
---
<AdminLayout title="Applicants - JobsForWomen.com">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-2xl font-bold">Applicant Profile</h1>
    <div class="flex items-center space-x-2">
      <a href="/admin/applicants" class="btn btn-primary">Back to Applicants</a>
    </div>
  </div>
  <!-- <ApplicantProfile token={token} applicant={applicant} /> -->

  <!-- Edit Profile -->
  <div class="py-2 bg-lavender">
    <div class="space-y-4">
        <div>
            <ProfileForm token={token} applicant={applicant} client:load />
        </div>
        <div class="flex flex-col gap-4 w-full self-stretch">
            <ApplicantSkills token={token} client:load />
            <ApplicantExperiences token={token} client:load />
            <ApplicantEducations token={token} client:load />
            <ApplicantPortfolios token={token} client:load />
        </div>
    </div>
  </div>
</AdminLayout>