---
import { Job } from '@/utils/types/Company';
import dayjs from 'dayjs';
import relativeTime from 'dayjs/plugin/relativeTime';
dayjs.extend(relativeTime)

export interface Props {
    job: Job
}
const { job } = Astro.props;
---
<div class="flex w-full p-4 border border-purple-100 rounded-lg bg-purple-50">
    <div>
        <p class="font-medium text-purple-800">{job.title}</p>
        <p class="text-teal-700 text-xs">Posted {dayjs(job.createdAt).fromNow()}</p>
        <p class="text-gray-600 text-sm">Skills: {job.skills}, Experience: {job.experience}, Location: {job.location}</p>
    </div>
    <div class="flex ml-auto border-l-2 border-purple-600 pl-2">
        <div class="flex flex-row items-center text-center">
            <a href=`/user/jobs/${job.id}/apply` class="text-purple-600 hover:text-purple-700 focus:ring-2 focus:outline-none focus:ring-purple-300 font-bold rounded-lg text-sm px-5 py-1.5 text-center">Apply</a>
            <a href=`/user/jobs/${job.id}` class="text-purple-600 hover:text-purple-700 focus:ring-2 focus:outline-none focus:ring-purple-300 font-bold rounded-lg text-sm px-5 py-1.5 text-center ml-2">View</a>
        </div>
    </div>    
</div>