---
import { Applicant } from '@/utils/types/Applicant';
import { Application, Interview, Job } from '@/utils/types/Company';

export interface Props {
    interview: Interview & {
        application?: Application;
        applicant?: Applicant;
    };
}
const {interview} = Astro.props;
---
<div class="flex flex-col md:flex-row w-full p-4 border border-purple-100 rounded-lg bg-purple-50 transition duration-200 ease-out hover:shadow-md">
    <div class="flex flex-col flex-1 mb-3 md:mb-0">
        <p class="font-medium text-purple-800">Interview scheduled for {interview.applicant?.name} at {interview.company?.name}</p>
        <p class="text-gray-600 text-sm">Notes: {interview.notes || 'N/A'}, set on {interview.date}, {interview.time}, {interview.location}.</p>
        <p class="text-gray-600 text-sm">Application ID: #{interview.applicationId}, Job ID: #{interview.job?.id}, Interview ID: #{interview.id}.</p>
    </div>
    <div class="flex flex-col justify-center mr-4 pl-4 border-t-2 md:border-t-0 md:border-l-2 border-purple-600">
        <div class="w-full text-center items-center mb-3 md:mb-0">
            <p class="font-medium text-purple-80">Status</p>
            <p class="text-green-600 text-sm">{interview.status}</p>
        </div> 
    </div>
    <div class="flex md:ml-auto justify-center items-center border-t-2 md:border-t-0 md:border-l-2 border-purple-600 pl-2">
        <a href={`/emp/interviews/${interview.id}`} class="text-purple-600 hover:text-purple-900 focus:ring-2 focus:outline-none focus:ring-purple-300 font-bold rounded-lg text-sm px-5 py-1.5 text-center">Update Status</a>
    </div>
</div>